name: Update README Cards
on:
  schedule:
    - cron: "0 * * * *"
  push:
    paths:
      - README.md
      - .github/workflows/stats.yml
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Clean SVGs
        run: |
          rm -f profile/*.svg
      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show=reviews,prs_merged_percentage&hide=stars&show_icons=true&bg_color=00000000
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&layout=compact&langs_count=5&bg_color=00000000
          path: profile/top-langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: project.nvim pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=project.nvim&bg_color=00000000
          path: profile/project_nvim.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: wezterm-types pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=wezterm-types&bg_color=00000000
          path: profile/wezterm-types.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Jnvim pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=nvim&bg_color=00000000
          path: profile/Jnvim.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: vim-eof-comment pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=vim-eof-comment&bg_color=00000000
          path: profile/vim-eof-comment.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: which-colorscheme.nvim pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=which-colorscheme.nvim&bg_color=00000000
          path: profile/which-colorscheme.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: nvim-plugin-boilerplate pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=DrKJeff16&repo=nvim-plugin-boilerplate&bg_color=00000000
          path: profile/nvim-plugin-boilerplate.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: triforce.nvim pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=gisketch&repo=triforce.nvim&bg_color=00000000&show_owner=true
          path: profile/triforce.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: awesome-neovim pin
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=rockerBOO&repo=awesome-neovim&bg_color=00000000&show_owner=true
          path: profile/awesome-neovim.pin.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "chore: update \`README.md\` cards" || exit 0
          git push
